<div class="error-exito">
    <div th:if="${Error != null}" class="card text-white bg-danger mb-3 mensajeError">
      <div class="card-body">
        <h5 class="card-title">ups, hubo un Error 😪</h5>
        <p class="card-text" th:text="${error}"></p>
      </div>
    </div>
    <div th:if="${Exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
      <div class="card-body">
        <h5 class="card-title">¡Fue un Exito! 😊</h5>
        <p class="card-text" th:text="${exito}"></p>
      </div>
    </div>
  </div>