body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#ecd448, #ff6700);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#form {
    margin-top: 50px;
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #4cc9f0;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #0000007b;
}

.interior {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    margin-top: 6%;
}

/* cacular el radio de un circulo */
.titulo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #0000007b;
    margin-top: 6%;
}

h3 {
    margin-top: 50px;
    color: red;
}

.boton:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #4cc9f0;
    top: 50%;
    transform: skewX(30deg) translate(-150%,
            -50%);
    transition: all 0.5s;
}

.boton:hover {
    background-color: #ff6700;
    color: #fff;
    box-shadow: 0 2px 0 2px #0000007b;
}

.boton:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.boton:active {
    transform: scale(0.9);
}

.ingreso {
    padding: 1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 13px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #f6f6f6;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #0000007b;
}

.result {
    margin-top: 6%;

}