body {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(246, 246, 203);
}

b {
    color: rgb(255, 116, 116);
}

i {
    color: rgb(60, 42, 255);
}