* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mensajeExito{
    width: 20%;
    margin: auto;
    text-align: center;
}

.mensajeError{
    width: 20%;
    margin: auto;
    text-align: center;
}

/*------------------formulario*/

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 80%;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

/*------------------footer*/
.containerFooter{
    margin-top: 60px;
    margin-bottom: 60px;
}

.text-muted{
    color: white;
}

.titulo-formulario{
    display: flex;
    justify-content: center;
}


/*------------------footer*/

.pie {
    margin-top: 300px;
}

footer {
    padding: 10PX;
    margin-top: 50PX;

}

.secciones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*para dar espacios*/
    gap: 40px;
}

.secciones div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.containerFooter {
    margin-top: 60px;
    margin-bottom: 60px;
}

.text-muted {
    color: white;
}