* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*-------------------------header*/
.mensajeExito{
    width: 20%;
    margin: auto;
    text-align: center;
}

.mensajeError{
    width: 20%;
    margin: auto;
    text-align: center;
}


.titulo-listas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padre-tablas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(3, 3, 3, 0.507);

}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

/*------------------footer*/

.pie {
    margin-top: 300px;
}

footer {
    padding: 10PX;
    margin-top: 50PX;

}

.secciones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*para dar espacios*/
    gap: 40px;
}

.secciones div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.containerFooter {
    margin-top: 60px;
    margin-bottom: 60px;
}

.text-muted {
    color: white;
}
