body{
    background-image: url(fondo2.jpg);
    background-size: cover;
    background-position: center;
    height: 1800px;
}

thead tr{
    background: rgb(187, 89, 156);
    color: white;
}

.producto{
    background: rgb(187, 89, 156);
    color: white;
}


button{
    background-color: rgb(252, 229, 229);
    color: rgb(187, 89, 156);
}

button:hover{
    background-color: white;
    color: black;
}