<footer class="pie">
  <p class="pie-contenido">&copy; 2023 Social Fashion</p>
  <a href="/" class="pie-logo">
    <img src="/png/8.png" class="logo" width="40" height="32">

    <use href="#" />
    </img>
  </a>
  <ul class="pie-lista">
    <li class="pie-accesos"><a href="#" class="pie-palabras">Inicio</a></li>
    <li class="pie-accesos"><a href="#" class="pie-palabras">Política de Privacidad</a></li>
    <li class="pie-accesos"><a href="#" class="pie-palabras">Términos y condiciones de uso</a></li>
    <li class="pie-accesos"><a href="#" class="pie-palabras">join_us@socialfashion.com</a></li>
  </ul>
</footer>