<footer class="container-fluid bg-dark text-secondary mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
      <h5 class="text-secondary text-uppercase mb-4">Social Fashion</h5>
      <p class="mb-4">Publica tus diseños y creaciones en una de las paginas mas reconocidas
        internacionalmente</p>
      <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>joinus@socialFashion.com</p>
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Enlaces</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" th:href="@{/}"><i class="fa fa-angle-right mr-2"></i>Destacados
            </a>
            <a class="text-secondary mb-2" th:href="@{/}"><i class="fa fa-angle-right mr-2"></i>Diseñadores</a>
            <a class="text-secondary mb-2" th:href="@{/}"><i class="fa fa-angle-right mr-2"></i>Publicaciones</a>
            <a class="text-danger mb-2" th:href="@{/}"><i class="fa fa-angle-right mr-2"></i>Reportar</a>
            <a class="text-secondary" th:href="@{/}"><i class="fa fa-angle-right mr-2"></i>Contactanos</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;"></div>

</footer>