<header class="nav-header">
    <a class="nav-icons" href="#">Social Fashion</a>
    <nav class="navbar">
        <ul class="nav-list">
            <button class="cta">
                <span class="hover-underline-animation"> Inicio </span>
            </button>
            <li class="nav-icons"><a href="#" class="nav-words">Nosotros</a></li>
            <li class="nav-icons"><a href="#" class="nav-words">Servicios</a></li>
            <li class="nav-icons"><a href="#" class="nav-words">Diseñadores</a></li>
        </ul>
    </nav>
</header>