<nav>

    <div class="row align-items-center py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a th:href="@{/main}" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Social</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Fashion</span>
            </a>
        </div>

        <div class="col-lg-4 col-6 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar por...">
                    <div class="input-group-append">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle"
                                data-toggle="dropdown">Ordenar por</button>
                            <div class="dropdown-menu dropdown-menu-right bg-dark">
                                <button class="dropdown-item" type="button"><a class=""
                                        href="guest.html">Diseñadores</a></button>
                                <button class="dropdown-item" type="button"><a class="" href="guest.html">Mas me gustas</a></button>
                                <button class="dropdown-item" type="button"><a class="" href="guest.html">Fecha</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-4 col-6 text-right">
            <div class="d-inline-flex align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle " data-toggle="dropdown">Mi
                        Cuenta</button>
                    <div class="dropdown-menu dropdown-menu-right bg-dark">
                        <button class="dropdown-item" type="button"><a class="" th:href="@{/perfil/__${session.usuariosession.id}__}">Perfil</a></button>
                        <button class="dropdown-item" type="button" sec:authorize="hasRole('ADMIN')"><a class=""
                                th:href="@{/listado}">Listdo de entidades</a></button>
                        <button class="dropdown-item" type="button" sec:authorize="hasRole('ADMIN')"><a class=""
                                th:href="@{/perfil/modificar/__${session.usuariosession.id}__}">Configurar</a></button>
                        <button class="dropdown-item" type="button"><a class="" th:href="@{/logout}">Salir</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>