<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"> </head>

<body>
  <nav th:replace="/fragments/nav :: nav"> </nav>

  <div class="central">

    <div th:replace="/fragments/mensaje :: div"> </div>

    <header class="header">
      <section class="contenedorMain">

        <div class="tituloNoticias">
          <a class="navbar-brand" href="#">Bienvenido a las noticias</a>
        </div>

        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
      </section>
    </header>

    <!-- Con este div se puede ver el mensaje de exito o error al crear una noticia nueva u otras acciones -->
    <div class="padre-tablas">
      <div class="tablas">
        <table class="table">
          <thead>
            <tr>
              <th scope="row">Titulo de noticia</th>
              <th scope="row">Cuerpo de noticia</th>
            </tr>
          </thead>
          <tbody th:each="noticia : ${noticias}">
            <tr>
              <td th:text="${noticia.titulo}"></td>
              <td th:text="${noticia.cuerpo}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <footer th:replace="/fragments/footer :: footer"> </footer>
  <script th:replace="/fragments/script :: script"> </script>
</body>

</html>