<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head_list :: head"> </head>

<body>

    <!-- Aca podemos ver la barra de navegacion creada con bootstrap -->
    <nav th:replace="/fragments/nav :: nav"> </nav>

    <div th:replace="/fragments/mensaje :: div"> </div>

    <div>
        <h1 class="titulo-listas">Lista de noticias</h1>
    </div>


    <!-- Lugar donde se listaran todas las noticias para modificar o eliminar -->
    <div class="padre-tablas">
        <div class="tablas">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="row">id</th>
                        <th scope="row">Titulo</th>
                        <th scope="row">Cuerpo</th>
                        <th scope="row">Modificar</th>
                        <th scope="row">Eliminar</th>
                    </tr>
                </thead>

                <tbody th:each="noticia : ${noticias}">
                    <tr>
                        <th th:text="${noticia.id}"></th>
                        <td th:text="${noticia.titulo}"></td>
                        <td th:text="${noticia.cuerpo}"></td>
                        <td>
                            <a th:href="@{/noticia/modificar/__${noticia.id}__}"><i class="fas fa-feather-alt"><button
                                        type="button" class="btn btn-primary">Accionar</button></i></a>
                        </td>
                        <td>
                            <a th:href="@{/noticia/eliminar/__${noticia.id}__}"><i class="fas fa-feather-alt"><button
                                        type="button" class="btn btn-danger">Accionar</button></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <section class=" text-center container">

        <!-- boton para volver al index -->
        <div class="row mt-3">
            <div class="botones">
                <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="botones">
                <a th:href="@{/noticia/listar/}" class="btn btn-primary my-2 botonVolver botones">Ir a la lista</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="botones">
                <a th:href="@{/noticia/registrar/}" class="btn btn-primary my-2 botonVolver botones">Crear nueva
                    noticia</a>
            </div>
        </div>
    </section>

    <footer th:replace="/fragments/footer :: footer"> </footer>
    <script th:replace="/fragments/script :: script"> </script>
</body>

</html>