<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head_forms :: head"> </head>

<body>

  <!-- Aca podemos ver la barra de navegacion creada con bootstrap -->
  <nav th:replace="/fragments/nav :: nav"> </nav>

  <div th:replace="/fragments/mensaje :: div"> </div>


  <div class="formulario">


    <form class="form" th:action="@{/noticia/modificar/__${noticia.id}__}" method="POST">

      <h1 class="titulo-formulario">Modificar noticia</h1>

      <input hidden th:value="${id}" name="id">

      <div class="mb-3">
        <input id="exampleFormControlInput1" th:value="${noticia.titulo}" placeholder="Modificar titulo ✒" type="text"
          class="form-control" name="titulo">
      </div>

      <div class="mb-3">
        <textarea th:field="${noticia.cuerpo}" placeholder="Modificar cuerpo de noticia 📃" type="text"
          class="form-control" name="cuerpo"></textarea>

      </div>

      <section class=" text-center container">

        <!-- boton para agregar la noticia -->
        <div class="row mt-3">
          <div class="botones">
            <button type="submit" class="btn btn-primary my-2 botonVolver botones">Actualizar</button>
          </div>
        </div>

        <!-- boton para ir a listar noticias -->
        <div class="row mt-3">
          <div class="botones">
            <a th:href="@{/noticia/listar/}" class="btn btn-primary my-2 botonVolver botones">Lista de noticias</a>
          </div>
        </div>

        <!-- boton para volver al index -->
        <div class="row mt-3">
          <div class="botones">
            <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
          </div>
        </div>
      </section>

    </form>
  </div>

  <footer th:replace="/fragments/footer :: footer"> </footer>
  <script th:replace="/fragments/script :: script"> </script>
</body>

</html>