
body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(/img/desfile.jpg);

}


.titule1{
    color: white;
}

#signInSignUpBox {
    position: relative;
    background-color: rgba(68, 58, 155, 0.961);
    width: 800px;
    height: 510px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#overlay {
    left: 0;
    border: 1px solid rgb(158, 7, 120);
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(222, 84, 11);
}

#signUp {
    transform: translateX(0);
    transition-duration: 1s;
}

#signIn {
    transform: translateX(20%);
    transition-duration: 1s;
}

.overlay-moveHalfRight #signIn {
    transform: translateX(0);
    transition-duration: 1s;
}

.overlay-moveHalfRight {
    animation-name: move-slide-right;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes move-slide-right {
    0% {
        left: 0;
    }

    100% {
        left: 50%;
    }
}

.overlayInner-moveHalfLeft #signUp {
    transform: translateX(-20%);
    transition-duration: 1s;
}

.overlay-moveHalfLeft {
    animation-name: move-slide-back-right;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes move-slide-back-right {
    0% {
        left: 50%;
    }

    100% {
        left: 0;
    }
}

#overlayInner {
    position: absolute;
    width: 200%;
    display: flex;
}

.overlayInner-moveHalfLeft {
    animation-name: move-slide-left;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes move-slide-left {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.overlayInner-moveHalfRight {
    animation-name: move-slide-back-left;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes move-slide-back-left {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

#overlayInner>div {
    flex: 1;
}

#forms {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    display: flex;
    width: 100%;
    overflow: hidden;
}

#forms>div {
    flex: 1;
}

#signUpForm,
#signInForm {
    overflow: hidden;
}

#signUpForm .holder {
    transform: translateX(0);
    transition-duration: 1s;
}

#signUpForm.shiftLeft .holder {
    transform: translateX(-100%);
    transition-duration: 1s;
}

#signInForm .holder {
    transform: translateX(0);
    transition-duration: 1s;
}

#signInForm.shiftRight .holder {
    transform: translateX(100%);
    transition-duration: 1s;
}






#signInForm,
#signUpForm {
    border-radius: 20px;
    text-align: center;
}

#signInForm h1,
#signUpForm h1 {
    margin-top: 2rem;
}

#signInForm p,
#signUpForm p {
    font-size: 0.8rem;
    margin-top: 1.6rem;
}

#signInForm input,
#signUpForm input {
    border: none;
    background-color: rgb(236, 236, 236);
    margin-top: 0.8rem;
    line-height: 35px;
    padding: 5px 10px;
    width: 80%;

}

#signInForm button,
#signUpForm button {
    text-transform: uppercase;
    color: #fff;
    background-color: #FFD333;
    border-radius: 20px;
    border: 1px solid #aa8d25;
    padding: 10px 40px;
    cursor: pointer;
}

#signUpForm button {
}


#signInForm button:focus,
#signUpForm button:focus {
    outline: none;
}

#signInForm button:hover,
#signUpForm button:hover {
    background-color: #fff;
}

#signInForm button:active,
#signUpForm button:active {
    padding: 9px 38px;
    transition-duration: 0.1s;
}

#signInSignUpBox {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 13px -6px rgba(0, 0, 0, 0.75);
}

#signInSignUpBox button:hover {
    background-color: #FFD333;

}


a.social-media-button {
    margin: 1.5rem;
    display: inline-block;
    border: none;
    text-align: center;
    border-radius: 50%;
    height: 15px;
    width: 40px;
    line-height: 40px;
    color: rgb(240, 240, 240);
}

.recordarmeClass {
    display: flex;
    align-items: end;

}

#forms>div {
    background-color: #fff;
}

#overlay {
    background: linear-gradient(to bottom, #FFD333 0%, #ae9022 100%);
    border: none;
    border-radius: 20px;
}

#signUp,
#signIn {
    text-align: center;
    padding: 140px 40px;
    color: #fff;
}

#signUp button,
#signIn button {
    margin-top: 68px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 40px;
    cursor: pointer;
}

#signUp button:focus,
#signIn button:focus {
    outline: none;
}

/*-------------------------*/

.custum-file-upload {



    height: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}


label.custum-file-upload {
    width: 80%;
    margin-left: 40px;
    margin-top: 10px;
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
    display: none;
}

/*----------------*/

.material-checkbox {
    margin: 20px 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #777777;
    cursor: pointer;

}

.material-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 12px;
    border: 2px solid #FFD333;
    border-radius: 4px;
    transition: all 0.3s;
}

.material-checkbox input[type="checkbox"]:checked~.checkmark {
    background-color: #FFD333;
    border-color: #FFD333;
}

.material-checkbox input[type="checkbox"]:checked~.checkmark:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 3px;
    width: 3px;
    height: 10px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.material-checkbox input[type="checkbox"]:disabled~.checkmark {
    opacity: 0.5;
    cursor: not-allowed;
}