* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffcc005c;
}

.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.4s;
    padding: 30px 20px;
    z-index: 20;
}

header.abajo {
    padding: 15px 20px;
    background-color: #8c52ff89;
    transition: 0.4s;
}

header.abajo .nav-words {
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icons {
    list-style: none;
}

.nav-words {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15px;
    text-decoration: none;
    color: blueviolet;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0, 4s;
}

.nav-words:hover {
    background-color: #1067d1;
}

.zona1 {
    position: relative;
    width: 100%;
    height: 10vh;
}

main {
    display: flex;
}

.nombre-diseñador-comentario {
    color: #8C52FF;
}

.container1 {
    background-color: #ffcc005c;
    color: white;
    display: flex;
}

.contenido-publicacion {
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 10px;
}

.imagen-publicacion {
    padding: 20px;
}

.contenido-comentarios {
    background-color: #8c52ffb4;
    border-radius: 9px;
    height: 70%;
}

.comentar-input,
.meGusta-boton,
.comentar-boton,
.comentarios-unidad {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ffcc005c;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    margin-top: 10px;
}

.comentador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.comentar-input:hover,
.meGusta-boton:hover,
.comentar-boton:hover,
.comentarios-unidad:hover {
    background-color: #ffffff42;
    color: #0d0d0d;
    box-shadow: 0 2px 0 2px #100f0eb0;
}

.comentar-input:hover::before,
.meGusta-boton:hover::before,
.comentar-boton:hover::before,
.comentarios-unidad:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.comentar-input:active,
.meGusta-boton:active,
.comentar-boton:active,
.comentarios-unidad {
    transform: scale(0.9);
}


