* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------------------------------------- */
.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.4s;
    padding: 20px 10px;
    z-index: 20;
    background-color: #8c52ff89;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icons {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0, 4s;
    list-style: none;
    color: white;
}

.loguito {
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0, 4s;
    list-style: none;
    transform: scale(1.2);
}

.zona1 {
    position: relative;
    width: 100%;
    height: 10vh;
}

header.abajo {
    padding: 15px 20px;
    background-color: #ffffff81;
    transition: 0.4s;
}

header.abajo .nav-words {
    color: #fff;
}

.nav-icons:hover {
    transform: scale(1.2);
}

.nav-words {
    color: white;
}

.nav-words:hover {}

/* --------------------------------------- */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.side-bar {
    width: 25%;
    height: 1000px;
    background-color: #8c52ff89;
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
    min-height: 100vh;

}

.titulo {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nombre-diseñadores {
    background-color: #8c52ff89;
    border-radius: 20px;
    padding: 20px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagen-perfil {
    border-radius: 100%;
}

.container1 {
    width: 75%;
    height: 100%;
}

/* --------------------------------------- */

.container1 {
    background-color: #8c52ff89;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 20px;
    min-height: 100vh;

}

.container-publicacion {
    background-color: #8c52ff89;
    padding: 5px;
    border-radius: 20px;

}

.imagen-publicacion {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-publicacion {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.nombre-diseñador-comentario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-comentarios {
    background-color: #8c52ff89;
    border-radius: 20px;

}

.contenido-completo {
    padding: 10px;

}

.comentarios-unidad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c52ff89;
    padding: 10px;
    margin-bottom: 5px;
}

.comentador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6px;
}

.comentar-input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.comentar-boton {
    width: 25%;
    border-radius: 10px;
    padding: 10px;
}

.comentar-boton:hover,
.meGusta-boton:hover,
.meGusta-conteo:hover {
    background-color: #ffcc00fb;
}

.meGusta-conteo:hover {
    transform: scale(1.2);
}

.meGusta-boton {
    width: 15%;
    border-radius: 10px;
    padding: 10px;
}

.meGusta-conteo {
    background-color: #FFF;
    padding: 6px;
    border-radius: 90%;
    box-shadow: 0 2px 0 2px #00000082;
    margin-left: 6px;
}

.pie {
    margin-top: 10px;
    background-color: #ffcc00;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.4s;
    padding: 20px 10px;
    z-index: 20;
}

.pie-contenido {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.pie-logo {}

.logo {
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}

.pie-lista {}

.pie-accesos {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 15px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0, 4s;
    list-style: none;
    transform: scale(1.2);
}