<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"> </head>

<body>

    <nav th:replace="/fragments/navbar-perfil :: nav"></nav>

    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" th:src="@{/imagen/publicacion/__${publicacion.id}__}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h4><a  th:href="@{/perfil/__${session.usuariosession.id}__}" th:text="${publicacion.user.name}"></a></h4>
                    <p class="font-weight-semi-bold mb-4" th:text="${publicacion.label}"></p>
                    <p class="font-weight-semi-bold mb-4" th:text="${publicacion.content}"></p>

                    <a id="boton-mg" class="btn btn-primary px-3" th:if="${!publicacion.usuarioLikes.contains(usuario)}" th:href="@{/publicacion/detail/MG/__${publicacion.id}__}"><i class="far fa-heart mr-1"></i>Me Gusta</a>
                    <a id="boton-mg" class="btn btn-primary px-3" th:if="${publicacion.usuarioLikes.contains(usuario)}" th:href="@{/publicacion/detail/MG/__${publicacion.id}__}"><i class="fa fa-heart" style="color:red"></i>Me Gusta</a>

                    <form class="form-group mb-0" th:action="@{/comentario/comentar/__${publicacion.id}__}" method="POST">
                        <textarea rows="5" cols="40" type="text" placeholder="Comentario..." th:value="${comment}" name="comment"></textarea><br>
                        <br>
                        <button class="btn btn-primary px-3" type="submit">Comentar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row px-xl-5">
        <div class="col">

            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Comentarios</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Reporte</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div  th:each="coment : ${comentarios}">
                            <h4 class="mb-3"><a th:text="${coment.user.name}" th:href="@{/perfil/__${coment.user.id}__}"></a></h4>
                            <p th:text="${coment.comment}"></p>
                            <a class="btn btn-primary px-3" th:if="__${coment.user.id}__ == ${session.usuariosession.id}" 
                                    th:href="@{/comentario/detail/eliminar/__${coment.idComent}__}"><i class="fa fa-trash"></i>
                            </a>
                            <button class="btn btn-danger px-3"><i class="fa fa-exclamation"></i></i> <a
                                    th:href="@{/reporte/reportar-comentario/__${coment.idComent}__}">Reportar</a>
                            </button>

                            <div id="barra-espaciadora" class="row border-top mx-xl-5 py-4"
                                style="border-color: black !important;">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="mb-4">Reportar</h3>
                                <form th:action="@{/reporte/reportar-publicacion/__${publicacion.id}__}" method="POST">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <div class="btn-group">
                                            <!-- TIPO DE REPORTE -->
                                                <select name="typeReport">
                                                    <option>Seleccionar Razon</option>
                                                    <option th:each="razon : ${tipoReporte}"
                                                            th:value="${razon}"
                                                            th:text="${razon}"
                                                            ></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- REASON -->
                                    <div class="form-group">
                                        <label for="razon">Justificacion</label>
                                        <input type="text" class="form-control" id="razon" th:value="${reason}" name="reason">
                                    </div>
                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn btn-primary px-3">Reportar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>

    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>
    <script src="js/main.js"></script>
</body>

</html>