<!DOCTYPE html>
<html lang="en">

<head>
  <link type="text/css" rel="stylesheet" href="style.css" />
</head>

<body>
  <!DOCTYPE html>
  <html>

  <head>
    <title>Tabla con estilos</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <title>Menú de navegación</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca de</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
      <br>

      <!-- <table>
        <tr>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Correo electrónico</th>
          <th>Contraseña</th>
        </tr>
        <tr>
          <td>Jhon muñoz</td>
          <td>30</td>
          <td>john.doe@example.com</td>
          <td>2349hf44</td>
        </tr>
        <tr>
          <td>Carlos poscue</td>
          <td>25</td>
          <td>jane.smith@example.com</td>
          <td>12jjj999</td>
        </tr>
      </table><br> -->

      </head>

      <body>

        <div class="dropdown">
          <button class="dropbtn">Menú de diseñadores registrados</button>
          <div class="dropdown-content">
            <a href="#">Diseñador 1</a><br>
            <a href="#">Diseñador 2</a><br>
            <a href="#">Diseñador 3</a><br>
            <a href="#">Diseñador 4</a><br>
            <a href="#">Diseñador 5</a><br>
            <a href="#">Diseñador 6</a>
          </div>
        </div>

      </body>

  </html>

  <title>Formulario de contacto</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <h1>Registro de diseñadores</h1>
    <form action="process_form.php" method="POST"> <!-- Actualizar el atributo "action" -->
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" required>

      <label for="nome">Apellido:</label>
      <input type="number" id="number" name="nombre" required>

      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" required>

      <label for="number">telefono:</label>
      <input type="number" id="numero" name="numero" required>

      <label for="message">Mensaje:</label>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit">Enviar</button>
    </form>

    <script src="script.js"></script> <!-- Agregar el archivo de script -->





  </body>

</html>

<!-- <script type="module" src="script.js"></script> -->
</body>

</html>