<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head-guest :: head"> </head>

<body>

    <nav th:replace="/fragments/navbar-guest :: nav"> </nav>


    <main class="main">
        <div class="container">
            <div id="signInSignUpBox">
                <div id="overlay">
                    <div id="overlayInner">
                        <div id="signUp">
                            <h1 class="titule1">Bienvenido a <br>Social Fashion!</h1><br>
                            <p>Ingresa aquí si ya estas registrado</p>
                            <button onClick='moveSliderRight()'>Ingresar</button>
                        </div>
                        <div id="signIn">
                            <h1 class="titule1">Bienvenido a <br>Social Fashion!</h1>
                            <p>Si queres ser parte de la red mas grande de diseñadores</p>
                            <button onClick='moveSliderLeft()'>Registrarme</button>
                        </div>
                    </div>
                </div>
                <div id="forms">
                    <div id="signInForm" class='shiftRight'>
                        <form th:action="@{/logincheck}" method="post" class="holder">
                            <h1 class="titulo-form">Ingresar a mi cuenta</h1>
                            <input type="email" placeholder="Email"><br>
                            <input type="password" placeholder='Password'><br>
                            <label class="material-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Recordarme
                            </label>
                            <button class="ingresar" type="submit">Ingresar</button>
                        </form>
                    </div>

                    <div id="signUpForm">
                        <form class="holder" th:action="@{/registro}" method="post">
                            <h1 class="titulo-form">Crear Cuenta</h1>

                            <input type="text" placeholder="Nombre completo" name="name"><br>
                            <input type="email" placeholder="Correo electronico" name="email"><br>
                            <input type="password" placeholder='Contraseña' name="password"><br>
                            <input type="password" placeholder='Repetir contraseña' name="password2"><br>
                            <input type="date" placeholder="Fecha de nacimiento" name="birthDate"><br>
                            <label class="custum-file-upload" for="file">
                                <div class="text">
                                    <span class="box-image">📷 Foto de perfil</span>
                                </div>
                                <input type="file" id="file" name="image">
                            </label>

                            <button type="submit">Registrarme</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src='/js/guest.js'></script>
</body>

</html>