<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"> </head>

<body>

    <nav th:replace="/fragments/navbar-guest :: nav"> </nav>


    <main class="main">
        <div class="container">
            <div id="signInSignUpBox">
                <div id="overlay">
                    <div id="overlayInner">
                        <div id="signUp">
                            <h1 class="titule1">Bienvenido a <br>Social Fashion!</h1><br>
                            <p>Ingresa aquí si ya estas registrado</p>
                            <button onClick='moveSliderRight()'>Ingresar</button>
                        </div>
                        <div id="signIn">
                            <h1 class="titule1">Bienvenido a <br>Social Fashion!</h1>
                            <p>Si queres ser parte de la red mas grande de diseñadores</p>
                            <button onClick='moveSliderLeft()'>Registrarme</button>
                        </div>
                    </div>
                </div>
                <div id="forms">
                    <div id="signInForm" class='shiftRight'>
                        <form th:action="@{/logincheck}" method="POST" class="holder">
                            <h1>Ingresar a mi cuenta</h1>
                            <input type="email" placeholder="Email" name="email" th:value="${email}"><br>
                            <input type="password" placeholder='Password' name="password" th:value="${password}"><br>
                            <label class="material-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Recordarme
                            </label>
                            <button class="ingresar" type="submit" onclick="openPopup()">Ingresar</button>
                        </form>
                    </div>

                    <div id="signUpForm">
                        <form class="holder" th:action="@{/registro}" method="POST" enctype="multipart/form-data">
                            <h1>Crear Cuenta</h1>

                            <input type="text" placeholder="Nombre completo" name="name" th:value="${name}"><br>
                            <input type="email" placeholder="Correo electronico" name="email" th:value="${email}"><br>
                            <input type="password" placeholder='Contraseña' name="password" th:value="${password}"><br>
                            <input type="password" placeholder='Repetir contraseña' name="password2"
                                th:value="${password2}"><br>
                            <input type="date" placeholder="Fecha de nacimiento" name="birthDate"
                                th:value="${birthDate}"><br>
                            <label class="custum-file-upload" for="file">
                                <div class="text">
                                    <span class="box-image">📷 Foto de perfil</span>
                                </div>
                                <input type="file" id="file" name="image" th:value="${image}">
                            </label>

                            <button class="ingresar" type="submit" onclick="openPopup()">Registrarme</button>
                        </form>
                    </div>
                </div>

                <!-- <div class="container-boton">
                    <button type="submit" class="botoncito" onclick="openPopup()">Aceptar</button>
                    <div class="popup" id="popup">
                        <img class="imagen" src="img/danger-icon.png" alt="">
                        <h2>Intente de nuevo, un error ha ocurrido</h2>
                        <button type="button" onclick="closePopup()">OK</button>
                    </div>
                    <script>
                        let popup = document.getElementById("popup");

                        function openPopup(params) {
                            popup.classList.add("open-popup");
                        }
                        function closePopup(params) {
                            popup.classList.remove("open-popup");
                        }
                    </script>
                </div> -->


                <!-- <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">Error!</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-title">Exito!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div> -->
            </div>
        </div>
    </main>

    <script src='/js/guest.js'></script>
</body>

</html>