<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>social fashion</title>
  <link rel="icon" type="image/x-icon" href="/png/8.png">
  <link rel="stylesheet" href="/css/index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <header class="nav-header">
    <a href="/png/8.png" class="logo"></a>
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-icons"><a href="#" class="nav-words">Inicio</a></li>
        <li class="nav-icons"><a href="#" class="nav-words">Nosotros</a></li>
        <li class="nav-icons"><a href="#" class="nav-words">Servicios</a></li>
        <li class="nav-icons"><a href="#" class="nav-words">Diseñadores</a></li>
      </ul>
    </nav>
  </header>
  <section class="zona1"></section>
  <!-- efecto transparente -->
  <script type="text/javascript">
    window.addEventListener("scroll", function () {
      var header = document.querySelector("header");
      header.classList.toggle("abajo", window.scrollY > 0);
    })
  </script>


  <main>
    <div class="div-main">

      <div class="row">
        <div class="col-md-3 py-4">
          <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary">
            <a href="#"
              class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
              <h2>Designers</h2>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                <div class="d-flex w-100 align-items-center  justify-content-between">
                  <strong class="mb-1">Designer name </strong>
                  <small><img src="..." class="d-block w-100" alt="Imagen" />Link</small>
                </div>
                <div class="col-10 mb-1 small">
                  <p>Texto de muestra</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>


      <section class="container1">
        <div class="imagen-publicacion">
          <img src="/png/1.png" alt=""></img>
        </div>

        <div class="contenido-publicacion">
          <h3 class="nombre-diseñador-comentario">Nombre del diseñador</h3>

          <div class="contenido-comentarios">
            <div class="contenido-completo">
              <h3 class="comentarios-unidad">comentarios</h3>
            </div>
          </div>

          <form class="comentador">
            <input class="comentar-input" type="search" placeholder="Comentar...">
            <button class="comentar-boton" type="button">Comentar</button>
          </form>

          <button class="meGusta-boton" type="button">Me gusta 👍</button>
          <p class="meGusta-conteo">15</p>
        </div>
      </section>
    </div>
  </main>

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Social Fashion</p>
      <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contacto</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Redes</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Nosotros</a></li>
      </ul>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
</body>

</html>