<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org/"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/fragments/head :: head"></head>

  <body>
    <nav th:replace="/fragments/navbar-main :: nav"></nav>

    <div class="row px-xl-5">
      <div class="col">
        <div class="bg-light p-30">
          <div class="nav nav-tabs mb-4">
            <a
              class="nav-item nav-link text-dark active"
              data-toggle="tab"
              href="#tab-pane-1"
              >Publicaciones</a
            >
            <a
              class="nav-item nav-link text-dark"
              data-toggle="tab"
              href="#tab-pane-2"
              >Usuarios</a
            >
            <a
              class="nav-item nav-link text-dark"
              data-toggle="tab"
              href="#tab-pane-3"
              >Comentarios</a
            >
            <a
              class="nav-item nav-link text-dark"
              data-toggle="tab"
              href="#tab-pane-4"
              >Reportes Publicacion</a
            >
             <a
              class="nav-item nav-link text-dark"
              data-toggle="tab"
              href="#tab-pane-5"
              >Reportes Usuario</a
            >
            <a
              class="nav-item nav-link text-dark"
              data-toggle="tab"
              href="#tab-pane-6"
              >Reportes Comentario</a
            > 
          </div>

          <!-- division de las 3 columnas de listas -->
          <div class="tab-content">
            <!-- espacio de las publicaciones -->

            <div class="tab-pane fade show active" id="tab-pane-1">
              <div class="container-fluid">
                <div class="row px-xl-5">
                  <div class="col-lg-12 table-responsive mb-5">
                    <table
                      class="table table-light table-borderless table-hover text-center mb-0"
                    >
                      <thead class="thead-dark">
                        <tr>
                          <th>ID</th>
                          <th>Imagen</th>
                          <th>Categoria</th>
                          <th>Fecha</th>
                          <th>Likes</th>
                          <th>Contenido</th>
                          <th>Eliminar</th>
                        </tr>
                      </thead>
                      <tbody
                        class="align-middle"
                        th:each="publicacion : ${publicaciones}"
                      >
                        <tr>
                          <th scope="row" th:text="${publicacion.id}"></th>
                          <td class="align-middle">
                            <a
                              ><img
                                th:if="publicacion.image != null"
                                style="width: 200px"
                                th:src="@{/imagen/publicacion/__${publicacion.id}__}"
                            /></a>
                          </td>
                          <td
                            class="align-middle"
                            th:text="${publicacion.label}"
                          ></td>
                          <td
                            class="align-middle"
                            th:text="${publicacion.initialDate}"
                          ></td>
                          <td
                            class="align-middle"
                            th:text="${publicacion.likes}"
                          ></td>
                          <td
                            class="align-middle"
                            th:text="${publicacion.content}"
                          ></td>
                          <td class="align-middle">
                            <a
                              sec:authorize="hasRole('ADMIN')"
                              target="_self"
                              th:href="@{/publicacion/eliminar/__${publicacion.id}__}"
                              ><i class="fa fa-trash"></i>Eliminar</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- espacio de los usuarios -->

            <div class="tab-pane fade" id="tab-pane-2">
              <div class="container-fluid">
                <div class="row px-xl-5">
                  <div class="col-lg-12 table-responsive mb-5">
                    <table
                      class="table table-light table-borderless table-hover text-center mb-0"
                    >
                      <thead class="thead-dark">
                        <tr>
                          <th>ID</th>
                          <th>Imagen</th>
                          <th>Nombre</th>
                          <th>Email</th>
                          <th>Fecha de Nacimiento</th>
                          <th>Modificar</th>
                          <th>Banear(14dias)</th>
                          <th>Eliminar</th>
                        </tr>
                      </thead>
                      <tbody class="align-middle" th:each="user : ${usuarios}">
                        <tr>
                          <th scope="row" th:text="${user.id}"></th>
                          <td class="align-middle">
                            <a
                              ><img
                                th:if="user.image != null"
                                style="width: 200px"
                                th:src="@{/imagen/perfil/__${user.id}__}"
                            /></a>
                          </td>
                          <td class="align-middle" th:text="${user.name}"></td>
                          <td class="align-middle" th:text="${user.email}"></td>
                          <td
                            class="align-middle"
                            th:text="${user.birthDate}"
                          ></td>
                          <td class="align-middle">
                            <button
                              class="btn btn-sm btn-primary"
                              th:href="@{/perfil/modificar/__${user.id}__}"
                            >
                              Editar
                            </button>
                          </td>
                          <td class="align-middle">
                            <a target="_self" th:href="@{/ban/__${user.id}__}"
                              >✖︎Banear</a
                            >
                          </td>
                          <td class="align-middle">
                            <a
                              sec:authorize="hasRole('ADMIN')"
                              target="_self"
                              th:href="@{/eliminar/__${user.id}__}"
                              ><i class="fa fa-trash"></i>Eliminar</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- espacio de los comentrios -->

            <div class="tab-pane fade" id="tab-pane-3">
              <div class="container-fluid">
                <div class="row px-xl-5">
                  <div class="col-lg-12 table-responsive mb-5">
                    <table
                      class="table table-light table-borderless table-hover text-center mb-0"
                    >
                      <thead class="thead-dark">
                        <tr>
                          <th>ID Comentario</th>
                          <th>Publicacion</th>
                          <th>Nombre</th>
                          <th>Contenido</th>
                          <!-- <th>Modificar</th> -->
                          <th>Eliminar</th>
                        </tr>
                      </thead>
                      <tbody
                        class="align-middle"
                        th:each="coment : ${comentarios}"
                      >
                        <tr>
                          <th class="align-middle" scope="row" th:text="${coment.idComent}"></th>
                          <td class="align-middle">
                            <a>
                              <img
                                th:if="publicacion.image != null"
                                style="width: 200px"
                                th:src="@{/imagen/publicacion/__${coment.publicacion.id}__}"
                            /></a>
                          </td>
                          <td
                            class="align-middle"
                            th:text="${coment.user.name}"
                          ></td>
                          <td
                            class="align-middle"
                            th:text="${coment.comment}"
                          ></td>
                          <td class="align-middle">
                            <a
                              sec:authorize="hasRole('ADMIN')"
                              target="_self"
                              th:href="@{/comentarios/listado/eliminar/__${coment.user.id}__}"
                              ><i class="fa fa-trash"></i>Eliminar
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- espacio de los reportes de publicacion -->

            <div class="tab-pane fade" id="tab-pane-4">
              <div class="container-fluid">
                <div class="row px-xl-5">
                  <div class="col-lg-12 table-responsive mb-5">
                    <table
                      class="table table-light table-borderless table-hover text-center mb-0"
                    >
                      <thead class="thead-dark">
                        <tr>
                          <th>ID Reporte</th>
                          <th>Publicacion</th>
                          <th>Nombre</th>
                          <th>Razon</th>
                          <th>Tipo de Reporte</th>
                          <th>Eliminar</th>
                          <th>Desestimar</th>
                        </tr>
                      </thead>
                      <tbody
                        class="align-middle"
                        th:each="reportPublicacion : ${reportesPublicacion}"
                      >
                        <tr>
                          <th class="align-middle" scope="row" th:text="${reportPublicacion.idReport}"></th>
                          <td class="align-middle">
                            <a>
                              <img
                                th:if="reportUser.idUserReported.image != null"
                                style="width: 200px"
                                th:src="@{/imagen/publicacion/__${reportPublicacion.publicacion.id}__}"
                            /></a>
                          </td>
                          <td class="align-middle" th:text="${reportPublicacion.publicacion.user.name}"></td>
                          <td class="align-middle" th:text="${reportPublicacion.reason}"></td>
                          <td class="align-middle" th:text="${reportPublicacion.TypeReport}"></td>
                          <td class="align-middle">
                            <a
                              sec:authorize="hasRole('ADMIN')"
                              target="_self"
                              th:href="@{/reporte/reportePublicacion/eliminar/__${reportPublicacion.idReport}__}"
                              ><i class="fa fa-trash"></i>Eliminar</a
                            >
                          </td>
                          <td class="align-middle">
                            <a
                              sec:authorize="hasRole('ADMIN')"
                              target="_self"
                              th:href="@{/reporte/reportePublicacion/__${reportPublicacion.idReport}__}"
                              ><i class="fa fa-trash"></i>Desestimar</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- espacio de los reportes de usuario -->

            <div class="tab-pane fade" id="tab-pane-5">
              <div class="container-fluid">
                <div class="row px-xl-5">
                  <div class="col-lg-12 table-responsive mb-5">
                    <table
                      class="table table-light table-borderless table-hover text-center mb-0"
                    >
                      <thead class="thead-dark">
                        <tr>
                          <th>ID Reporte</th>
                          <th>Imagen Reportado</th>
                          <th>Nombre Reportado</th>
                          <th>Razon</th>
                          <th>Tipo de Reporte</th>
                          <th>Ban</th>
                          <th>Eliminar</th>
                          <th>Desestimar</th>
                        </tr>
                      </thead>
                      <tbody
                        class="align-middle"
                        th:each="reportUser : ${reportesUsuario}"
                      >
                        <tr>
                          <th class="align-middle" scope="row" th:text="${reportUser.idReporte}"></th>
                          <td class="align-middle">
                            <a
                              ><img
                                th:if="reportUser.idUserReported.image != null"
                                style="width: 200px"
                                th:src="@{/imagen/perfil/__${reportUser.userReported.id}__}"
                            /></a>
                          </td>
                          <td class="align-middle" th:text="${reportUser.userReported.name}"></td>
                          <td class="align-middle" th:text="${reportUser.reason}"></td>
                          <td class="align-middle" th:text="${reportUser.TypeReport}"></td>
                          <td class="align-middle">
                            <a
                              sec:authorize="hasRole('ADMIN')"
                              target="_self"
                              th:href="@{/reporte/reporteUsuario/ban/__${reportUser.idReporte}__}"
                              ><i class="fa fa-trash"></i>Banear(14dias)</a
                            >
                          </td>
                          <td class="align-middle">
                            <a
                              sec:authorize="hasRole('ADMIN')"
                              target="_self"
                              th:href="@{/reporte/reporteUsuario/eliminar/__${reportUser.idReporte}__}"
                              ><i class="fa fa-trash"></i>Eliminar</a
                            >
                          </td>
                          <td class="align-middle">
                            <a
                              sec:authorize="hasRole('ADMIN')"
                              target="_self"
                              th:href="@{/reporte/reporteUsuario/__${reportUser.idReporte}__}"
                              ><i class="fa fa-trash"></i>Desestimar</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- espacio de los reportes de comentarios -->

            <div class="tab-pane fade" id="tab-pane-6">
              <div class="container-fluid">
                <div class="row px-xl-5">
                  <div class="col-lg-12 table-responsive mb-5">
                    <table
                      class="table table-light table-borderless table-hover text-center mb-0"
                    >
                      <thead class="thead-dark">
                        <tr>
                          <th>ID Reporte</th>
                          <th>Comentario</th>
                          <th>Nombre</th>
                          <th>Razon</th>
                          <th>Tipo de Reporte</th>
                          <th>Eliminar</th>
                          <th>Desestimar</th>
                        </tr>
                      </thead>
                      <tbody
                        class="align-middle"
                        th:each="reportComentario : ${reportesComentario}"
                      >
                        <tr>
                          <th class="align-middle" scope="row" th:text="${reportComentario.idReport}"></th>
                          <td class="align-middle" th:text="${reportComentario.comentario.comment}"></td>
                          <td class="align-middle" th:text="${reportComentario.comentario.user.name}"></td>
                          <td class="align-middle" th:text="${reportComentario.reason}"></td>
                          <td class="align-middle" th:text="${reportComentario.TypeReport}"></td>
                          <td class="align-middle">
                            <a
                              sec:authorize="hasRole('ADMIN')"
                              target="_self"
                              th:href="@{/reporte/reporteComentario/eliminar/__${reportComentario.idReport}__}"
                              ><i class="fa fa-trash"></i>Eliminar</a
                            >
                          </td>
                          <td class="align-middle">
                            <a
                              sec:authorize="hasRole('ADMIN')"
                              target="_self"
                              th:href="@{/reporte/reporteComentario/__${reportComentario.idReport}__}"
                              ><i class="fa fa-trash"></i>Desestimar</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
            
     

          </div>
        </div>
      </div>
      <!-- espacio de los reportes -->

      <!-- <div class="tab-pane fade" id="tab-pane-3">
        <div class="container-fluid">
          <div class="row px-xl-5">
            <div class="col-lg-12 table-responsive mb-5">
              <h1>Tabla de Reportes</h1>
              <form method="get" action="@{reporte/listarReportes}">
                <h3>Reportes de:</h3>
                <div class="container">
                  <div class="row">
                    <div class="col-md-6"></div>
                    <label for="tipoReporte"></label>
                    <select name="tipoReporte" id="tipoReporte">
                      <option value="todos">Todos</option>
                      <option value="usuarios">Usuarios</option>
                      <option value="comentarios">Comentarios</option>
                      <option value="publicaciones">Publicaciones</option>
                    </select>
                    <button type="submit" class="btn btn-primary">
                      Filtrar
                    </button>
                  </div>
                </div>
              </form>
              <table
                class="table table-light table-borderless table-hover text-center mb-0"
              >
                <thead class="thead-dark">
                  <tr>
                    <th>ID Reporte</th>
                    <th>ID User</th>
                    <th>Elemento reportado</th>
                    <th>reason</th>
                    <th>TypeReport</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <tbody class="align-middle" th:each="reporte : ${reportes}">
                  <tr>
                    <th scope="row">
                      <span
                        th:if="${reportes.getClass().name == 'ReportUser'}"
                        th:text="${reporte.idReport}"
                      ></span>
                      <span
                        th:if="${reportes.getClass().name == 'ReportComentario'}"
                        th:text="${reporte.idReport}"
                      ></span>
                      <span
                        th:if="${reportes.getClass().name == 'ReportPublicacion'}"
                        th:text="${reporte.idReport}"
                      ></span>
                    </th>
                    <td class="align-middle">
                      <span
                        th:if="${reportes.getClass().name == 'ReportUser'}"
                        th:text="${reporte.idUser}"
                      ></span>
                      <span
                        th:if="${reportes.getClass().name == 'ReportComentario'}"
                        th:text="${reporte.idUser}"
                      ></span>
                      <span
                        th:if="${reportes.getClass().name == 'ReportPublicacion'}"
                        th:text="${reporte.idUser}"
                      ></span>
                    </td>
                    <td class="align-middle">
                      <span
                        th:if="${reportes.getClass().name == 'ReportUser'}"
                        th:text="${reporte.idReporte} (Usuario)"
                      ></span>
                      <span
                        th:if="${reportes.getClass().name == 'ReportComentario'}"
                        th:text="${reporte.idReport} (Comentario)"
                      ></span>
                      <span
                        th:if="${reportes.getClass().name == 'ReportPublicacion'}"
                        th:text="${reporte.idReport} (Publicacion)"
                      ></span>
                      <input
                        type="hidden"
                        name="idReporte"
                        th:value="${reporte.idReport}"
                      />
                    </td>
                    <td class="align-middle">
                      <span
                        th:if="${reportes.getClass().name == 'ReportUser'}"
                        th:text="${reporte.reason}"
                      ></span>
                      <span
                        th:if="${reportes.getClass().name == 'ReportComentario'}"
                        th:text="${reporte.reason}"
                      ></span>
                      <span
                        th:if="${reportes.getClass().name == 'ReportPublicacion'}"
                        th:text="${reporte.reason}"
                      ></span>
                    </td>
                    <td class="align-middle">
                      <span
                        th:if="${reportes.getClass().name == 'ReportUser'}"
                        th:text="${reporte.TypeReport.}"
                      ></span>
                      <span
                        th:if="${reportes.getClass().name == 'ReportComentario'}"
                        th:text="${reporte.TypeReport}"
                      ></span>
                      <span
                        th:if="${reportes.getClass().name == 'ReportPublicacion'}"
                        th:text="${reporte.TypeReport}"
                      ></span>
                    </td>
                    <td class="align-middle">
                      <a
                        sec:authorize="hasRole('ADMIN')"
                        target="_self"
                        th:href="@{/reporte/eliminarReporte/__${reporte.idReporte}__}"
                        ><i class="fa fa-trash"></i>Eliminar</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> -->

    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
