<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"></head>

<body>
    
    <nav th:replace="/fragments/navbar-main :: nav"></nav>

    <!-- top 10 -->
    
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Top 10
                de la semana</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
<!--                        
                        <img th:if="publicacion.image != null" th:src="@{/imagen/publicacion/__${publicacion.id}__}"/></a>
-->
                        <img class="img-fluid w-100" src="img/modelo.jpg" alt="">
                        <div class="product-action">
<!--                            
                            Agregar un js donde onClick="cambiarUrlColor" el th:href="/publicacion/MG+/__${id}__" 
                            pase a ser th:href="/publicacion/MG-/__${id}__", y color: white a color: red
-->
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" th:href="@{/detail}"><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(1-5)</small>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" th:href="@{/detail}"><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <form>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-1" name="size">
                                <label class="custom-control-label" for="size-1">1</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-2" name="size">
                                <label class="custom-control-label" for="size-2">2</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-3" name="size">
                                <label class="custom-control-label" for="size-3">3</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-4" name="size">
                                <label class="custom-control-label" for="size-4">4</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-5" name="size">
                                <label class="custom-control-label" for="size-5">5</label>
                            </div>
                        </form>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" th:href="@{/detail}"><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" th:href="@{/detail}"><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" th:href="@{/detail}"><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" th:href="@{/detail}"><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" th:href="@{/detail}"><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" th:href="@{/detail}"><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Publicaciones -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
                class="bg-secondary pr-3">Publicaciones</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo2.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo2.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo2.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo2.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo2.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo2.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo2.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/modelo2.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">Diseñador</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>Cantidad de MG</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="">ir</i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-exclamation"></i></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Social Fashion</h5>
                <p class="mb-4">Publica tus diseños y creaciones en una de las paginas mas reconocidas
                    internacionalmente</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>joinus@socialFashion.com</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Top 10</a>
                            <a class="text-secondary mb-2" href="#"><i
                                    class="fa fa-angle-right mr-2"></i>Diseñadores</a>
                            <a class="text-secondary mb-2" href="#"><i
                                    class="fa fa-angle-right mr-2"></i>Publicaciones</a>
                            <a class="text-danger mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Reportar</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contactanos</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        </div>
    </div>

    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>
    <script src="js/main.js"></script>
</body>

</html>