body{
    font-family: sans-serif;
    background-image: url(descarga.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
}