h1 {
    color: rgb(36, 161, 161)
}

p strong {
    color: red;
}

p span {
    color: rgb(255, 174, 0);
}

h2 {
    color: blue;
}

p a {
    color: red;
}

p a em {
    color: blue;
}

p span {
    color: rgb(140, 36, 237);
}

table thead th {
    color: rgb(255, 170, 0);
}

table tfoot th {
    color: red;
}

tbody tr th.especial {
    color: rgb(255, 170, 0);
}

tbody tr th {
    color: red;
}

tbody tr td{
    color: rgb(28, 200, 54);
}

tbody tr td strong{
color: rgb(255, 170, 0);
}

div p {
    color:rgb(32, 135, 9);
}

div p span{
    color: rgb(247, 9, 223);
}

div p a{
    color:rgb(64, 205, 32);
}



